.todo-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #2d3640;
  width: 100%;
  padding: 10px;
  color: white;
  margin: 10px 10px 10px 0px;
  border-radius: 5px;
  position: relative;
}

.todo-title {
  font-size: 24px;
}

.todo-timestamp {
  color: grey;
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
}

.todo-completed {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 24px;
  height: 24px;
}
